<%-include("partials/header"); -%>

    <form action="/compose" method="post">
        <h1>Compose</h1>
        <div class="form-group">
            <label>Title</label>
            <input type="text" name="postTitle" class="form-control">

            <label>Post</label>
            <textarea class="form-control" name="postBody" id="" cols="30" rows="5"></textarea>

            <label>Type</label>
            <select type="text" name="postType" class="form-control">
                <option selected>Choose...</option>
                <option value="1">Society</option>
                <option value="2">Exam</option>
                <option value="3">General</option>
              </select>
        </div>
        <button type="submit" class="btn btn-primary" style="margin-top: 15px;" name="button">Publish</button>

    </form>

    <%-include("partials/footer"); -%>